
/*links the font BananaYeti to the document*/
@font-face {
font-family: "BananaYeti"; 
src:url("BananaYeti.ttf");
}

<<<<<<< HEAD:css/main (copie).css
body{       /* ajoute une image fixe au background de la page */
=======
/*sets a fixed background image*/
body{
>>>>>>> b9fdfe840a30b196ce5e619fbde3969bcbc19f23:main.css
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a0/Triangle_1_p6.svg);
    background-attachment: fixed;
    color: #fff;
}

<<<<<<< HEAD:css/main (copie).css
header{     /* ajoute du padding, une ombre et une couleur de background au header */
    height: 50%;
    padding: 10%;
=======
/***** HEADER *****/

/*removes the padding at the top and bottom of the bootstrap jumbotron*/
.jumbotron {
    padding-top: 0%;
    padding-bottom: 0%;
    
}

/*gives the jumbotron a pink color, a shadow and resizes it*/
.jumbotron > header {
    padding: 8.58%;
>>>>>>> b9fdfe840a30b196ce5e619fbde3969bcbc19f23:main.css
    box-shadow: 0px 2px 5px black;
    background-color: #F44336;
}

<<<<<<< HEAD:css/main (copie).css
h1{    /* définit la police du titre (développeur web) */
 font-size: 80px;
 font-family: "BananaYeti";
}

section > article { /* applique à tous les éléments article dont le parent est un élément séction du padding */
    padding-top :20px;
=======
/*applies the BananaYeti font to the main title and resizes it*/
.jumbotron > header > h1 {
 font-size: 5.6em;
 font-family: "BananaYeti";
}

/***** NAVBAR *****/

/*sets the size and color of the navbar, ensures that the links within the navbar are evenly spaced and spread across the width of the screen*/
.navbar-default {
>>>>>>> b9fdfe840a30b196ce5e619fbde3969bcbc19f23:main.css
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 173, 117, 0.91);
    height: 60px;

}

<<<<<<< HEAD:css/main (copie).css
.titreSection{  /* Définit la police du titre de chaque section (projet, diplome, etc. */
    font-size:40px;
    font-family: "BananaYeti";
}
.titreArticle{  /* Définit la police du titre de chaque article de la partie experience */
    margin-left: 100px;
    font-size: 20px;
}
.text{   /* Définit la police de texte du contenu de chaque article de la partie experience */
    margin-left: 150px;
    font-size: 15px;
}

.colorSecion{   /* Définit la couleur du background des articles et des sections */
background-color: #EF5350;
}

/****Pour les lien ***/
a:link {    /* définit la couleur des liens du header, leur background et enlève leur soulignage */
   color: #fff;
   background-color: transparent;
   text-decoration: none;
}
a:visited {    /* s'assure que le style des liens reste le même après clic */
   color: #fff;
   background-color: transparent;
   text-decoration: none;
}
a:hover {   /* change la couleur des liens en rouge en survol */
   color: red;
   background-color: transparent;
   text-decoration: none;
}
a:active {     /* change la couleur des liens en jaune pendant le clic */
=======
/* sets the font of the links, their size and color, removes the underlines and moves them sightly down*/
.navbar-default  > a {
    color: #fff;
    text-decoration: none;
    margin-top: 13%;
    font-family: "BananaYeti";
    font-size: 2.2em;

}

/*changes the color of the links on hover*/
.navbar-default > a:hover {
    color: red;
    text-decoration: none;
    
}

/*changes the color of the links on click*/
.navbar-default > a:active {
>>>>>>> b9fdfe840a30b196ce5e619fbde3969bcbc19f23:main.css
   color: yellow;
   text-decoration: none;
}

<<<<<<< HEAD:css/main (copie).css
/***** NAV *****/

nav{    /* fixe la navbar en haut de la page, lui ajoute du padding, définit sa couleur, s'assure qu'elle prend la largeur complète de la page */
  position: fixed;
      width: 100%;
      padding: 15px;
      background-color: rgba(255, 173, 117, 0.91);
=======
/***** SECTIONS *****/
>>>>>>> b9fdfe840a30b196ce5e619fbde3969bcbc19f23:main.css

/*gives every section (exp, forma, diplome, loisir) a background color and a thin black border*/
section {
    background-color:#EF5350; 
    border: 1px solid rgba(0, 0, 0, 0.41);
    
}

<<<<<<< HEAD:css/main (copie).css
nav>ul{     /* définit la police de la navbar */
 display: flex;
 justify-content: space-around;
 font-family: "BananaYeti";
 font-size: 30px;
}

/***** Section Exp *****/
.xp{
   height:70%;
   margin:50px;
   padding: 10px;
   border: 1px solid  rgba(0, 0, 0, 0.41) ;
   box-shadow: 5px 5px 5px black;
   text-align: center;
}

.xp > .titreSection{
  text-align: center;
}

/***** Section Projet *****/
.projet{
   height: 130px;
   padding: 10px;
   border: 1px solid  rgba(0, 0, 0, 0.41) ;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-around;

=======
/*gives the first section (the only one that has thoses exact classes applied to it) a bottom margin and a shadow*/
section[class="col-xs-12 col-lg-10 col-lg-offset-1"] {
    margin-bottom: 3.6%;
    box-shadow: 5px 5px 5px black;
    
>>>>>>> b9fdfe840a30b196ce5e619fbde3969bcbc19f23:main.css
}

/*gives the three next sections an animation of flashing colors on hover*/
section[class="col-lg-12"]:hover {
    -webkit-animation: myfirst 0.5s infinite;
    animation: myfirst  0.5s infinite;
    
}

<<<<<<< HEAD:css/main (copie).css
/***** Section Diplome *****/
.diplome{
   height: 130px;
   padding: 10px;
   border: 1px solid  rgba(0, 0, 0, 0.41) ;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-around;

=======
/*changes the font of the title of each section and centers it*/
section > h2 {
    font-size: 2.9em;
    font-family: "BananaYeti";
    text-align: center;
    
>>>>>>> b9fdfe840a30b196ce5e619fbde3969bcbc19f23:main.css
}

/*changes the font of the subtitle of the first section*/
article > h4 {
    font-size: 1.7em;
    font-family: "Times New Roman";
    
}

<<<<<<< HEAD:css/main (copie).css
/***** Section Loisir *****/
.loisir{
   height: 130px;
   padding: 10px;
   border: 1px solid  rgba(0, 0, 0, 0.41) ;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
=======
/*changes the font of the text of each section and centers it*/
section p {
    font-family: "Times New Roman";
    text-align: center;
    font-size: 1.3em;
    
>>>>>>> b9fdfe840a30b196ce5e619fbde3969bcbc19f23:main.css
}

/*changes the contents of the first section to be aligned on a single line and evenly spaced*/
section > article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/*configures the animation of flashing colors*/
@keyframes myfirst {
    0%   {background: red;opacity: 1}
    25%  {background: yellow;opacity: 0.8 }
    50%  {background: blue;opacity:0.4 }
    75%  {background: green;opacity:0.8 }
    100% {background: red;opacity:0.9}
}