
/*links the font BananaYeti to the document*/
@font-face {
font-family: "BananaYeti"; 
src:url("BananaYeti.ttf");
}

/*sets a fixed background image*/
body{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a0/Triangle_1_p6.svg);
    background-attachment: fixed;
    color: #fff;
}

/***** HEADER *****/

/*removes the padding at the top and bottom of the bootstrap jumbotron*/
.jumbotron {
    padding-top: 0%;
    padding-bottom: 0%;
    
}

/*gives the jumbotron a pink color, a shadow and resizes it*/
.jumbotron > header {
    padding: 8.58%;
    box-shadow: 0px 2px 5px black;
    background-color: #F44336;
}

/*applies the BananaYeti font to the main title and resizes it*/
.jumbotron > header > h1 {
 font-size: 5.6em;
 font-family: "BananaYeti";
}

/***** NAVBAR *****/

/*sets the size and color of the navbar, ensures that the links within the navbar are evenly spaced and spread across the width of the screen*/
.navbar-default {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 173, 117, 0.91);
    height: 60px;

}

/* sets the font of the links, their size and color, removes the underlines and moves them sightly down*/
.navbar-default  > a {
    color: #fff;
    text-decoration: none;
    margin-top: 13%;
    font-family: "BananaYeti";
    font-size: 2.2em;

}

/*changes the color of the links on hover*/
.navbar-default > a:hover {
    color: red;
    text-decoration: none;
    
}

/*changes the color of the links on click*/
.navbar-default > a:active {
   color: yellow;
   text-decoration: none;
}

/***** SECTIONS *****/

/*gives every section (exp, forma, diplome, loisir) a background color and a thin black border*/
section {
    background-color:#EF5350; 
    border: 1px solid rgba(0, 0, 0, 0.41);
    
}

/*gives the first section (the only one that has thoses exact classes applied to it) a bottom margin and a shadow*/
section[class="col-xs-12 col-lg-10 col-lg-offset-1"] {
    margin-bottom: 3.6%;
    box-shadow: 5px 5px 5px black;
    
}

/*gives the three next sections an animation of flashing colors on hover*/
section[class="col-lg-12"]:hover {
    -webkit-animation: myfirst 0.5s infinite;
    animation: myfirst  0.5s infinite;
    
}

/*changes the font of the title of each section and centers it*/
section > h2 {
    font-size: 2.9em;
    font-family: "BananaYeti";
    text-align: center;
    
}

/*changes the font of the subtitle of the first section*/
article > h4 {
    font-size: 1.7em;
    font-family: "Times New Roman";
    
}

/*changes the font of the text of each section and centers it*/
section p {
    font-family: "Times New Roman";
    text-align: center;
    font-size: 1.3em;
    
}

/*changes the contents of the first section to be aligned on a single line and evenly spaced*/
section > article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/*configures the animation of flashing colors*/
@keyframes myfirst {
    0%   {background: red;opacity: 1}
    25%  {background: yellow;opacity: 0.8 }
    50%  {background: blue;opacity:0.4 }
    75%  {background: green;opacity:0.8 }
    100% {background: red;opacity:0.9}
}