/********* IMPORT *********/

@font-face {
    font-family: "BananaYeti";
    src: url("BananaYeti.ttf");
}

body {
    /* ajoute une image fixe au background de la page */
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a0/Triangle_1_p6.svg);
    background-attachment: fixed;
    color: #fff;
}

header {
    /* ajoute du padding, une ombre et une couleur de background au header */
    height: 50%;
    padding: 10%;
    box-shadow: 0px 2px 5px black;
    background-color: #F44336;
}

h1 {
    /* définit la police du titre (développeur web) */
    font-size: 80px;
    font-family: "BananaYeti";
}

section>article {
    /* applique à tous les éléments article dont le parent est un élément séction du padding */
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.titreSection {
    /* Définit la police du titre de chaque section (projet, diplome, etc. */
    font-size: 40px;
    font-family: "BananaYeti";
}

.titreArticle {
    /* Définit la police du titre de chaque article de la partie experience */
    margin-left: 100px;
    font-size: 20px;
}

.text {
    /* Définit la police de texte du contenu de chaque article de la partie experience */
    margin-left: 150px;
    font-size: 15px;
}

.colorSecion {
    /* Définit la couleur du background des articles et des sections */
    background-color: #EF5350;
}


/****Pour les lien ***/

a:link {
    /* définit la couleur des liens du header, leur background et enlève leur soulignage */
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    /* s'assure que le style des liens reste le même après clic */
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    /* change la couleur des liens en rouge en survol */
    color: red;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    /* change la couleur des liens en jaune pendant le clic */
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}